{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "libros/includes/head.html" %}
</head>
<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

    {% include "libros/includes/header.html" %}
<div class="search-bar">
    <form method="get" action="{% url 'buscar_libros' %}">
        <input type="text" name="q" placeholder="Buscar libros...">
        <button type="submit">🔍</button>
    </form>
</div>
    {% block content %}
    <!-- Aquí va el contenido específico de cada página -->
    {% endblock %}

    {% include "libros/includes/footer.html" %}
    {% include "libros/includes/scripts.html" %}
</body>
</html>
v