{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2>Detalle del Pedido #{{ pedido.id }}</h2>
    <p>Fecha: {{ pedido.fecha|date:"d/m/Y H:i" }}</p>
    <p>Estado: {{ pedido.estado }}</p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Libro</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items_pedido %}
            <tr>
                <td>{{ item.libro.titulo }}<img src="{{item.libro.imagen}}"></td>
                
                <td>{{ item.cantidad }}</td>
                <td>${{ item.precio_unitario }}</td>
                <td>${{ item.subtotal }}</td>
            </tr>
            {% endfor %}
            <tr class="table-active">
                <td colspan="3" class="text-end"><strong>Total:</strong></td>
                <td><strong>${{ pedido.total }}</strong></td>
            </tr>
        </tbody>
    </table>
    
    <a href="{% url 'ventas:lista_pedidos' %}" class="btn btn-secondary">Volver a mis pedidos</a>
</div>
{% endblock %}